.home{
    background-color: #fff;
    &>*{
        box-sizing: border-box;
    }
    .banner_warp{
        width: 100%;background-color: #FFF9E1;position: relative;
        img {
            display: block;margin: 0 auto;
        }
        .img_mask {
            position: absolute;left: 0;right: 0;top: 0;bottom: 0;
            margin: auto;background-color: rgba(0, 0, 0, 0.6);
            display: flex;align-items: center;justify-content: center;
            h2 {
                position: relative;
                font-size: 36px;font-weight: normal;color: #fff;text-align: center;
            }
        }
    }
    .recemt_title{
        width: 100%;height: 40px;
        font-size: 20px;color: #333;font-weight: bold;
        display: flex;align-items: center;
    }
    .recent_warp{
        width: 100%;padding: 24px 400px 0 5%;position: relative;
        display: flex;justify-content: space-between;
        .recent_warp_l,.recent_warp_r{
            padding: 0 36px 24px;
        }
        .recent_warp_l{
            width: 80%;
            .post-wrap{
                width: 100%;padding: 0 0 12px;position: relative;
                border-bottom: 1px dashed #333;margin: 24px 0 0 0;
                h3{
                    font-size: 20px;line-height: 1.6;
                    a {
                        color: #000;text-decoration: none;-webkit-transition: all .2s;
                        transition: all .2s;
                    }
                }
                .post-date {
                    font-size: 14px;color: #666;margin: 12px 0;
                }
                .post-desc p {
                    font-size: 16px;
                }
            }
        }
        .recent_warp_r{
            position: absolute;right: 4%;top: 24px;
            width: 420px;border-left: 1px solid #eaeaea;
            .post-wrap{
                width: 100%;padding: 0 0 24px 12px;position: relative;
                border-bottom: 1px dashed #333;margin: 24px 0 0 0;
                &:first-child{
                    &:before {
                        content: "";
                        position: absolute;left: -24px;top: 0;bottom: 0;margin: auto;
                        width: 20px;height: 20px;border-radius: 50%;
                        border: 1px dashed #440303;
                    }
                    &:after {
                        content: "";
                        position: absolute;left: -19px;top: 0;bottom: 0;margin: auto;
                        width: 10px;height: 10px;border-radius: 50%;background-color: #440303;
                    }
                }
                h3{
                    font-size: 20px;line-height: 1.6;
                    a {
                        color: #000;text-decoration: none;-webkit-transition: all .2s;
                        transition: all .2s;
                    }
                }
                .post-date {
                    font-size: 14px;color: #666;margin: 12px 0;
                }
                .post-desc p {
                    font-size: 16px;
                }
            }
        }
    }
}